In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [5]:
data = pd.read_csv('Saferparks-dataset-2017-v4.csv', encoding='cp1252')
data.head()

,acc_id,acc_date,acc_state,acc_city,fix_port,source,bus_type,industry_sector,device_category,device_type,...,age_youngest,gender,acc_desc,injury_desc,report,category,mechanical,op_error,employee,notes
0,1005813,6/12/2010,OH,Cleveland,F,Ohio Dept. of Agriculture,Sports or recreation facility,recreation,inflatable,Inflatable slide,...,NaN,NaN,Inflatable slide tipped over while 7-9 patrons...,The man who was crushed by the device died 9 d...,https://ridesdatabase.org/accident_reports/OH-...,"Device tipped over, blew away, or collapsed",NaN,1.0,NaN,http://www.cleveland.com/metro/index.ssf/2012/...
1,1004032,6/12/2010,OH,Cleveland,P,United States Consumer Product Safety Commission,Sports or recreation facility,recreation,inflatable,Inflatable slide,...,54.0,M,Two adult males were standing next to an infla...,1 - death from pulmonary embolism caused by bl...,https://ridesdatabase.org/accident_reports/CPS...,"Device tipped over, blew away, or collapsed",NaN,1.0,NaN,See also OH state record.
2,1007658,7/10/2010,CA,Anaheim,F,California Division of Occupational Safety and...,Amusement park,amusement ride,water ride,Boat ride,...,37.0,F,Patron stated she slipped and fell while stepp...,"Hip and low back pain, torn meniscus in knee",NaN,Load/Unload: scrape or stumble,NaN,NaN,NaN,NaN
3,1007098,7/10/2010,CA,Carlsbad,F,California Division of Occupational Safety and...,Water park,water park,float attraction,Lazy river,...,37.0,F,Patron claims strained back after her raft tip...,Strained back,NaN,"Fall: patron fell off inner tube, mat or board",NaN,NaN,NaN,NaN
4,1000094,7/29/2010,CO,Littleton,F,Colorado Division of Oil and Public Safety,Family entertainment center,recreation,challenge activity,Climbing wall,...,NaN,M,"Two patrons climbed to the top of the wall, co...",Patron experienced a free fall that resulted i...,https://ridesdatabase.org/accident_reports/CO-...,Fall: patron fell from device (participatory),1.0,NaN,NaN,NaN

In [15]:
df = pd.DataFrame(data)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5516 entries, 0 to 8350
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   acc_id                5516 non-null   int64
 1   acc_date              5516 non-null   object
 2   acc_state             5516 non-null   object
 3   acc_city              5398 non-null   object
 4   fix_port              5516 non-null   object
 5   source                5516 non-null   object
 6   bus_type              5516 non-null   object
 7   industry_sector       5516 non-null   object
 8   device_category       5516 non-null   object
 9   device_type           5516 non-null   object
 10  tradename_or_generic  5516 non-null   object
 11  manufacturer          3462 non-null   object
 12  num_injured           5514 non-null   float64
 13  age_youngest          5100 non-null   float64
 14  gender                5083 non-null   object
 15  acc_desc              5514 non-null   object
 16  injury_desc           5511 non-null   object
 17  report                45 non-null     object
 18  category              5516 non-null   object
 19  mechanical            229 non-null    float64
 20  op_error              87 non-null     float64
 21  employee              16 non-null     float64
 22  notes                 39 non-null     object
dtypes: float64(5), int64(1), object(17)
memory usage: 1.0+ MB

In [14]:
df = df['acc_city'].dropna()
df.head()

KeyError: 'acc_city'